/*------------------------------------------------Empieza publicidad----------------------------------------------------- */
.contenedor-publicidad{
    width: 65%;
    margin: 50px auto 0;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    word-wrap: break-word;
    text-align: center;
}

.contenedor-publicidad .contenedor-iconos{
    width: 100%;
    height: 100px;
    margin-top: 25px;
    text-align: center;
}

.contenedor-publicidad .contenedor-iconos .fa{
    padding: 14px;
    font-size: 40px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 15px 10px;
    color: white;
    
}    
.contenedor-publicidad .contenedor-iconos .fa:hover {
    opacity: 0.7;
}


.contenedor-publicidad .contenedor-iconos .fa-facebook{
    background: rgb(47, 117, 241);
}

.contenedor-publicidad .contenedor-iconos .fa-instagram{
    background: rgb(196, 52, 170);
}

.contenedor-publicidad .contenedor-iconos .fa-whatsapp{
    background: rgb(65, 194, 82);
}



/*---------------------------------------------------------------------------------------*/

.contenedorNewsletter{
    width: 27rem;
    height: 2rem;
    margin: 3rem auto;
    display: flex;
    position: relative;
}

.contenedorNewsletter form{
    display: flex;
    width: 100%;
}


.contenedorNewsletter input{
    background-color: #F4F4F4;
    width: 60%;
    height: 100%;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.2);
    color: #333333;
    border-radius: 1px;
    font-family: var(--font-family-secundario2);
    font-size: 17px;
    padding-left: 8px;

    transition: all 200ms;
}

.contenedorNewsletter .btnSubmit{
    height: 100%;
    width: 40%;
    border: none;
    background: var(--div-background-color);
    transition: all 300ms;
    cursor: pointer;
}

.contenedorNewsletter .btnSubmit:hover{
    background: #fff;
    border: 1px solid var(--text-color);
}

.contenedorNewsletter .btnSubmit:hover span{
    color: var( --text-color);
}



.contenedorNewsletter .btnSubmit span{
    font-family: var(--font-family-principal);
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms;
}

@media screen and (max-width: 680px) {
    .contenedor-publicidad{
        width: 100%;
    }

    /*----------------------*/

    .contenedorNewsletter{
        width: 100%;
        height: max-content;
    }

    .contenedorNewsletter form{
        display: block;
        text-align: center;
    }

    .contenedorNewsletter input{
        margin: 0 auto;
        width: 80%;
        height: 2.5rem;
    }

    .contenedorNewsletter .btnSubmit{
        margin: 20px auto 0;
        height: 2.5rem;

    }

    
    
}

/*---------------------------------------------------------------------------------------*/

.footer-container{
    background-color: var(--div-background-color);
    color: whitesmoke;
    font-family: var(--font-family-principal);
    margin: 40px auto 0;
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
}

.footer-container > * {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.navegacion ul{
    list-style: none;
    margin-left: 7px;
}

.navegacion a{
    color: whitesmoke;
    text-decoration: none;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 5px;
}

.mediosDePago img{
    width: auto;
    height: 30px;
    object-fit: cover;
}

.item-contacto{
    display: flex;
    gap: 10px;
}

.item-contacto a{
    text-decoration: none;
    color: whitesmoke;
}

.item-contacto a:hover{
    text-decoration: underline;
}

.item-contacto a h5{
    color: whitesmoke;
}


@media screen and (max-width: 750px){
    .footer-container{
        padding: 20px;
        flex-direction: column;
        margin: 0 auto;
    }

    .img-container{
        max-width: 500px;
    }

}

/*----------------------------------------*/

.contenedor-final{
    width: 100%;
    height: 50px;
    background: var(--div-background-color);
}

.contenedor-final .contenedor-info{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.contenedor-final .contenedor-info p{
    font-size: 16px;
    color: black;
    padding-top: 15px;
}


