@media screen and (max-width: 800px) and (min-width: 600px){   
    .contenedor .seccion.medio .contenedorTitulo{
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .contenedor .seccion.medio .contenedorBuscador{
        top: 75%;
        left: 51%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }

    


}

@media screen and (max-width: 600px){   
    .infoEnvios{
        display: none;
    }

    .infoEnvios1{
        display: flex;
    }

    .contenedor{
        height: 13rem;
    }

    .contenedor .seccion.arriba{
        height: 13%;
    }

    .contenedor .seccion.arriba > div{
        display: none !important;
    }

    .contenedor .seccion.medio{
        height: 60%;
    }

    .contenedor .seccion.medio .contenedorTitulo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .contenedor .seccion.medio .contenedorBuscador{
        display: none;
    }

    .contenedor .seccion.abajo{
        height: 55px;
    }

    .contenedor .seccion.abajo .nav-links{
        display: none !important;
    }

    .contenedor .seccion.abajo .nav-links.mobile{
        display: flex !important;
    }


    .contenedor .seccion.abajo #logoAlmalupe{
        display: none !important;
    }

    .contenedor .seccion.abajo .contenedorMenuOpciones{
        display: flex;
    }

    .contenedorDetalleCarrito{
        /* width: 100% !important; */
    }

}