@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

:root{
    --font-family-secundario2: 'Roboto', sans-serif;
}

.contenedorProducto{
    width: 19rem;
    height: 25rem;
    box-shadow: 0 9px 7px #dfdfdf;    
    font-family: var(--font-family-secundario2);
    display: inline-block;
    margin-bottom: 120px;
    transition: height 300ms;
}

.contenedorProducto:hover{
    box-shadow: 0 9px 7px #b3b1b1;  
}


/* --------------------------------------------- parte arriba --------------------------------------------- */

.contenedorProducto .parteArriba{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: height 300ms;
    cursor: pointer;
    position: relative;
}

.contenedorProducto .parteArriba img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


/* ----------------------- Boton de Corazon ----------------------- */

.contenedorProducto .parteArriba .btnIcono{
    position: absolute;
    top: 4%;
    left: 85%;
    
    opacity: 0;
    transition: opacity 150ms;
}

.contenedorProducto .parteArriba .btnIcono > i{
    font-size: 25px;
    transition: all 200ms ease-in-out;
    padding-top: 4px;
}

.contenedorProducto .parteArriba .btnIcono > i:hover{
    color: red;
}


/* --------------------------------------------- parte abajo --------------------------------------------- */

.contenedorProducto .parteAbajo{
    width: 100%;
    height: 25%;
    opacity: 0;
    transition: height 300ms, opacity 150ms;
}

.contenedorProducto .parteAbajo > div{
    margin: 0 30px;
    display: block;
    position: relative;
}


/* ----------------------- Row 1 (categoria)----------------------- */
.contenedorProducto .parteAbajo .row-1{
    margin-top: 20px;
    height: 15%;
}

.contenedorProducto .parteAbajo .row-1 span{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
}

/* ----------------------- Row 2 (titulo)----------------------- */
.contenedorProducto .parteAbajo .row-2{
    height: 15%;
    margin-top: 9px;
}

.contenedorProducto .parteAbajo .row-2 span{
    font-weight: 500;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    font-size: 17.5px;

}

/* ----------------------- Row 3 ----------------------- */
.contenedorProducto .parteAbajo .row-3{
    margin-top: 13px;
    height: 1%;
    background-color: #ccc;
}

/* ----------------------- Row 4 (precio) ----------------------- */
.contenedorProducto .parteAbajo .row-4{
    margin-top: 14px;
    height: 28%;
}

.contenedorProducto .parteAbajo .row-4 span{
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}