.carousel-item{
    box-shadow: 0 9px 7px #dfdfdf;    
    display: inline-block;
    font-family: var(--font-family-secundario2);
    margin-bottom: 60px;
}

.carousel-item .parte-arriba{
    width: 100%;
    background: #ccc;
    text-align: center;
}



.carousel-item .parte-abajo{
    width: 100%;
    background: rgb(255, 255, 255); 
}

.carousel-item .parte-abajo .row-1, .carousel-item .parte-abajo .row-2, .carousel-item .parte-abajo .row-3, .carousel-item .parte-abajo .row-4, .carousel-item .parte-abajo .row-5{
    margin: 0;
    display: block;
}

.carousel-item .parte-abajo .row-1{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
    padding-top: 20px;
}

.carousel-item .parte-abajo .row-2{
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.carousel-item .parte-abajo .row-2:hover{
    color: #fbb72c;
}

.carousel-item .parte-abajo .row-3{
    font-size: 15px;
    line-height: 22px;
    color: #999;
    margin-bottom: 18px;
}

.carousel-item .parte-abajo .row-4{
    background: #ccc;
    height: 1px;
    margin-bottom: 18px;
}

.carousel-item .parte-abajo .row-5{
    display: inline-block;
}

.carousel-item .parte-abajo .row-5 span{
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.carousel-item .parte-abajo .row-5 .iconos{
    display: inline-block;
    height: 20px;

}

.carousel-item .parte-abajo .row-5 .iconos .fa{
            
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
    cursor: pointer;
}

.carousel-item .parte-abajo .row-5 .iconos .fa:hover{
color: #fbb72c;
}

