.contenedorTextoCompra{
    width: 65%;
    margin: 3vw auto 0;
    font-family: var(--font-family-secundario1);
    padding: 25px;
}

.contenedorTextoCompra span{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 78px;
}

.contenedorTextoCompra ol{
    margin: 18px 0;
}

.contenedorTextoCompra ul{
    margin-left: 20px;
}

.contenedorTextoCompra li{
    margin: 3px;
}

@media screen and (max-width: 800px){
    .contenedorTextoCompra{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .contenedorTextoCompra{
        width: 95%;
    }
}