.contenedorTotal{
    width: 65%;
    margin: 2rem auto 10rem ;
    display: flex;
    position: relative;
    font-family: var(--font-family-secundario1);
    height: 18rem;
}

.contenedorTotal .contenedorParte{
    height: 100% ;
    overflow: hidden;
    position: relative;
}

/*---------------------------------------------*/
.contenedorTotal .contenedorParte.izquierda{
    width: 35%;
}

.contenedorTotal .contenedorParte.izquierda .contenido{
    height: max-content;
    width: max-content;
    margin: 10% auto;
}

.contenedorTotal .contenedorParte.izquierda .row{
    width: max-content;
    height: 40px;
}

.contenedorTotal .contenedorParte.izquierda .row a{
    text-decoration: none;
}

.contenedorTotal .contenedorParte.izquierda .row a{
    font-size: 14px;
    font-family: var(--font-family-principal);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color);
}






/*---------------------------------------------*/
.contenedorTotal .contenedorParte.derecha{
    width: 65%;
}


.contenedorTotal .contenedorParte.derecha form input{
    /* background: #eef3fa; */
    background: #efefef;
    width: 80%;
    height: 35px;
    margin-left: 40px;
    outline: none;
    color: #495c6a;
    border: none;
    border-radius: 2px;
    margin-bottom: 15px;
    padding-left: 15px;
    display: block;
}

.contenedorTotal .contenedorParte.derecha textarea{
    width: 80%;
    /* background: #eef3fa; */
    background: #efefef;
    border: none;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 15px;
    color: #495c6a;
    margin-left: 40px;
    outline: none;
    font-size: 14px;
    padding-right: 15px;
    resize: none;
    display: block;
    height: 120px;
}
