.contenedorTotal{
    width: 65%;
    margin: 2rem auto 10rem ;
    display: flex;
    position: relative;
    font-family: var(--font-family-secundario1);
    min-width: 50%;
    justify-content: center;
    height: 18rem;
    min-width: 40rem;
}

.contenedorTotal .contenedorParte{
    height: 100% ;
    overflow: hidden;
    position: relative;
}

/*---------------------------------------------*/
.contenedorTotal .contenedorParte.izquierda{
    width: 35%;
}

.contenedorTotal .contenedorParte.izquierda .contenido{
    height: max-content;
    width: max-content;
    margin: 10% auto;
}

.contenedorTotal .contenedorParte.izquierda .row{
    width: max-content;
    height: 40px;
}

.contenedorTotal .contenedorParte.izquierda .row a{
    text-decoration: none;
    text-decoration-color: currentColor;
    color: var(--text-color);
}

.contenedorTotal .contenedorParte.izquierda .row a:hover{
    text-decoration: underline;
}



@media screen and (max-width: 680px){
    .contenedorTotal{
        height: max-content;
        flex-direction: column;
        min-width: unset;
        width: unset;
        margin-bottom: 0;
    }

    .contenedorTotal .contenedorParte{
        margin: 0 auto;
        width: 100% !important;
    }
}


/*---------------------------------------------*/
.contenedorTotal .contenedorParte.derecha{
    width: 65%;
}


.contenedorTotal .contenedorParte.derecha form input{
    /* background: #eef3fa; */
    background: #efefef;
    width: 80%;
    height: 35px;
    margin-left: 40px;
    outline: none;
    color: #495c6a;
    border: none;
    border-radius: 2px;
    margin-bottom: 15px;
    padding-left: 15px;
    display: block;
}

.contenedorTotal .contenedorParte.derecha textarea{
    width: 80%;
    /* background: #eef3fa; */
    background: #efefef;
    border: none;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 15px;
    color: #495c6a;
    margin-left: 40px;
    outline: none;
    font-size: 14px;
    padding-right: 15px;
    resize: none;
    display: block;
    height: 120px;
}
