@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

:root{
    --text-color: rgb(93, 73, 84);
    --div-background-color: rgb(93, 73, 84);
    --font-family-principal: 'Mulish', sans-serif;
    --font-family-secundario1: 'Abel', sans-serif;
    --font-family-secundario2: 'Roboto', sans-serif;
}

/*-------------------------------------------------------Arranca menu-------------------------------------------------------- */

.contenedor-arriba{
    background: var(--div-background-color);
    width: 100%;
    height: 30px;
    /* position: fixed; */
}

.contenedor-arriba a{
    display: inline-block;
    text-decoration: none;
    padding-top: 4px;
}



.contenedor-arriba span{
    color: rgb(255, 255, 255);
    font-family: var(--font-family-principal);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 7px; 
    border: none;
}

.contenedor-arriba span:hover{
    text-decoration: underline;
}

/*Contendor izquierda*/

.contenedor-arriba .contenedor-izquierda{
    width: 50%;
    height: 3%;
    position: absolute;
    left: 0;
    padding-left: 5%;
}

.contenedor-arriba .contenedor-izquierda .far{
    padding-left: 50px;
}

.contenedor-arriba .contenedor-izquierda .fa-2 i{
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding-right: 4px;
}

/*Contenedor derecha*/

.contenedor-arriba .contenedor-derecha{
    height: 3%;
    width: 50%;
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 5%;
}

.contenedor-arriba .contenedor-derecha .barra-arriba{
    display: inline-block;
    transform: rotate(90deg);
    width: 30px;
    border: 1px solid white;
}


/*-----------*/
.contenedor-arriba .contenedor-derecha .contenedor1{
    width: 10rem;
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 4rem;
    /* background: red; */
}

.contenedor-arriba .contenedor-derecha .contenedor1 .usuario{
    padding-top: 6px;
    /* margin-right: 3rem; */
}

/*-----------*/

.contenedor-arriba .contenedor-derecha .contenedor1 .usuario span{
    color: rgb(255, 255, 255);
    font-family: var(--font-family-principal);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.contenedor-arriba .contenedor-derecha .contenedor1 .fas {
    border-radius: 50%;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.contenedor-arriba .contenedor-derecha .contenedor1 .dropdown-content {
    display: none;
    background-color: var(--div-background-color);
    min-width: 10rem;
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 29px;
}

.contenedor-arriba .contenedor-derecha .contenedor1 .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-family: var(--font-family-principal);
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.contenedor-arriba .contenedor-derecha .contenedor1 .dropdown-content a:hover {
    background-color: #328519;  
}
.contenedor-arriba .contenedor-derecha .contenedor1:hover .dropdown-content {
    display: block;
}





/*-----------Contenedor titulo y subtitulos-----------*/

/*-----------Contenedor y nav-----------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 60px;
    text-align: center;
    z-index: 500;
} 

nav a{
    text-decoration: none;
}

nav .titulo{
    color: var(--text-color);
    font-family: var(--font-family-principal);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 23px;
    display: inline-block;
}

nav .nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 60px;
    padding: 20px 0;
    
} 

nav .nav-links li{
    list-style-type: none;
    cursor: pointer;
    height: 40px;
}

nav .nav-links a{
    font-family: var(--font-family-principal);
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links .sub-menu {
    transform: scale(1);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    width: 8.2rem;
}


.nav-links .sub-menu li {
    height: 45px;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 1px;
    background-color: #fff;
    padding-top: 12px;
    box-shadow: 0px 2px 16px 2px rgba(63, 62, 62, 0.22);
    /* padding: 15px 0; */
    color: #000000;
    /* border-bottom: 1px solid rgba(3, 3, 3, 0.2); */
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    font-family: var(--font-family-principal);
    text-transform: uppercase;
    /* margin-bottom: 1px; */
}


.nav-links .sub-menu li:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--div-background-color);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.nav-links .sub-menu li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-links .sub-menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #0c791b;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.nav-links .sub-menu li:last-child {
    border-bottom: 0;
}

.nav-links li:hover .sub-menu li {
    transform: scale(1);
}
.nav-links li:hover .sub-menu {
    transform: scale(1);
}

/*buscador*/








.pega {
    position: fixed;
    top: 0;
    width: 100%;
    /* display: none; */
}

.pega + .content {
    padding-top: 50px;
    /* padding-top: 0; */
}

/*----------------*/


label{
    display: none;
}

label .menu {
    position: absolute;
    top: 40px;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: #fff;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
}


label .hamburger {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 30px;
    height: 2px;
    background: var(--div-background-color);
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background:var(--div-background-color);
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked + .menu {
    box-shadow: 0 0 0 100vw rgb(255, 255, 255), 20vh 100vh 0 350vh rgb(255, 255, 255);
    border-radius: 80px;
}

label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
}
label input:checked + .menu + ul {
    opacity: 1;
}
label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
}
label a {
    margin-bottom: 1em;
    font-size: 25px;
    display: block;
    color: #000;
    text-decoration: none;
}

label li{
    list-style-type: none;
}

label a:hover{
    text-decoration: black underline;
}

/* pagina productos */


