*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-slider{
    width: 90%;
    max-width: 900px;
    /* overflow: hidden; */
    margin: 10vh auto;
    position: relative;
    outline: 3px solid red;
    /* background: red; */
}

.slider{
    height: 700px;
    /* width: 300%; */
    width: 200%;
    display: flex;
    /* justify-content: space-around; */
    /* margin-left: -50%; */
}

.slider__section{
    /* width: 100%; */
    width: 50%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(240, 248, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background: #fff;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--rigth{
    right: 10px;
}